<ul class="list-group list-group-horizontal mt-4">
  <li class="list-group-item"><%= link_to "Books", user_books_path(@user) %></li>
  <li class="list-group-item"><%= link_to "Reports", user_reports_path(@user) %></li>
  <li class="list-group-item"><%= link_to "Comments", user_comments_path(@user) %></li>
</ul>
