<div class="text-right">
  <%= link_to t('books.index.new book'), new_report_path, class: "btn btn-primary mb-4" %>
</div>
<h1 class="mb-5"><%= "#{@user.name}" + t('users.reports.index') %></h1>
<table class="table">
  <%= render partial: "reports/report", collection: @reports %>
</table>
<%= paginate @reports%>
